.article {
  background-color: aqua;
  border: 1px solid red;
}

.article-font {
  font-size: 24px;
}

.subDiv {
  width: 100px;
  height: 100px;
  background-color: #61dafb;
}

.faDiv {
  width: 200px;
  height: 200px;
  background-color: aqua;
}

ul,
li {
  margin: 0;
  list-style: none;
}

li {
  display: flex;
}

span {
  flex: 2;
}
